BOT_TOKEN=8508379456:AAHbhLFUPPGEXBnHnww_pn6tq5nP8ZQs2Ag
PASSENGER_GROUP_ID=-5264809257
DRIVER_GROUP_OR_CHANNEL_ID=-1003846357905
ADMIN_TELEGRAM_ID=1603071848
LOG_CHANNEL_ID=-5188201182
DATABASE_URL="postgresql://postgres:1234@localhost:5432/taxi_bot?schema=public"